.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2.375rem;
}

@media screen and (max-width: 840px) {
    .product-list {
        justify-content: center;
    }
}